body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-image: url("https://images.unsplash.com/photo-1714685563466-2b15d3a55651?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background: #333;
}
nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    background: #575757;
}
.container {
    padding: 20px;
}
.mission, .services, .team, .contact {
    margin-bottom: 20px;
}
h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}
.team img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}
.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.team-member div {
    margin-left: 20px;
}
.map-wrapper {
    height: 40vh;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}